@model X.PagedList.IPagedList<WebGameApi.Models.Card>

@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Mana Cost       
            </th>
            <th>
                CMC
            </th>
            <th>
                Type
            </th>
            <th>
                Rarity
            </th>
            <th>
                Set
            </th>
            <th>
                Set Name
            </th>
         
            <th>
                Number
            </th>
            <th>
                Power
            </th>
            <th>
                Toughness
            </th>
            <th>
                Layout
            </th>
            <th>
                Multiverseid
            </th>
            <th>
                Image
            </th>
          
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cmc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.set)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.setName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toughness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.layout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.multiverseid)
            </td>
            <td>
                 <img src="@Html.DisplayFor(modelItem => item.imageUrl)" alt = "image"/>
            </td>

            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new{page}))
